.App{
  background-color: honeydew;
  width: 40ch;
  padding-left: 20px;
}

button {
  padding: 5px;
  margin-right: 15px;
}

.btn-primary {
  color: white;
  background-color: darkblue;
}

textarea {
  display: block;
  height: 6ch;
  width: 30ch;
  readonly:false;
}

.btn-danger {
  color: white;
  background-color: darkred;
}

.btn-purple {
  background-color: purple;
  color: white;
  margin-bottom: 0.5em;
}

.comment {
  margin-bottom: 10px;
}

.btn-green {
  color: white;
  background-color: green;
}
.btn-orange{
  color: white;
  background-color: orange;
}
